/* Cre.css */

.cre-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.cre-title {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  border-radius: 5px 5px 0 0;
}

.accordion-title {
  font-size: 1.2em;
  margin: 0;
}

.accordion-toggle {
  font-size: 1.5em;
  line-height: 1;
}

.accordion-body {
  padding: 0 15px;
  border-top: 1px solid #ddd;
  background-color: #fff;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}

.accordion-body.open {
  max-height: 1000px; /* Ensure this is large enough for your content */
  opacity: 1;
}

.accordion-body.closed {
  max-height: 0;
  opacity: 0;
}

.accordion-body p {
  margin: 15px 0;
  background-color: #fff;
}

@media (max-width: 768px) {
  .accordion-header {
    font-size: 1em;
  }

  .accordion-title {
    font-size: 1em;
  }

  .accordion-toggle {
    font-size: 1.2em;
  }
}
